.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .info {
    display: flex;
    padding: 4px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // background-color: #053b50;
    background-image: linear-gradient(
      to right bottom,
      rgba(#053b50, 0.7),
      rgba(#053b50, 0.9)
    );
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgba(#000000, 0.4);
    color: #eeeeee;
    width: 90px;
    margin-right: 10px;
    .property {
      letter-spacing: 2px;
      font-weight: lighter;
      font-size: 15px;
    }

    .value {
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
}
// #64ccc5
